{% extends 'front/base.html' %}
{% load static %}
{% block title %} {{meta.meta_title}} - {{meta.meta_description}}{% endblock title %}
{% block title1 %} {{meta.meta_title}} - {{seo_settings.meta_title}} {% endblock title1 %}
{% block title2 %} {{meta.meta_title}} - {{seo_settings.meta_title}} {% endblock title2 %}
{% block content %}
<style>

    .active-dark-mode .modal-content {
        background: linear-gradient(315deg, rgba(11,11,11,1) 6%, rgba(31,31,31,1) 100%);
        border: none !important;
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 10px;
    }
    .active-dark-mode .modal-header {
        border-bottom: 1px solid #272626;
    }
    .active-dark-mode .modal-footer {
        border-top: 1px solid #272626;
    }
    .modal-header {
        justify-content: flex-start !important;
    }
    .more-btn{
        cursor: pointer;
    }
</style>
        <!--=====================================-->
        <!--=       Breadcrumb Area Start       =-->
        <!--=====================================-->
        <div class="breadcrum-area breadcrumb-banner">
            <div class="container">
                <div class="section-heading heading-left" data-sal="slide-right" data-sal-duration="1000" data-sal-delay="300">
                    <h1 class="title h2">Best solutions for your business</h1>
                    <p>Optimizing Success, One Solution at a Time: Your Pathway to Business Excellence with Us.</p>
                </div>
                <div class="banner-thumbnail" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="400">
                    <img class="paralax-image" src="{% static 'front/assets/media/banner/banner-thumb-4.png' %}" alt="Illustration">
                </div>
            </div>
            <ul class="shape-group-8 list-unstyled">
                <li class="shape shape-1" data-sal="slide-right" data-sal-duration="500" data-sal-delay="100">
                    <img src="{% static 'front/assets/media/others/bubble-9.png' %}" alt="Bubble">
                </li>
                <li class="shape shape-2" data-sal="slide-left" data-sal-duration="500" data-sal-delay="200">
                    <img src="{% static 'front/assets/media/others/bubble-21.png' %}" alt="Bubble">
                </li>
                <li class="shape shape-3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="300">
                    <img src="{% static 'front/assets/media/others/line-4.png' %}" alt="Line">
                </li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=       Experts  Area Start        =-->
        <!--=====================================-->
        {% if funfacts %}
        <section class="section section-padding expert-counterup-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="section-heading heading-left">
                            <span class="subtitle">Experts in field</span>
                            <h2>What makes us special?</h2>
                            <p class="mb--50">In vel varius turpis, non dictum sem. Aenean in efficitur ipsum, in egestas ipsum. Mauris in mi ac tellus.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-xl-1">
                        <div class="row" id="no-equal-gallery">
                            {% for fact in funfacts %}
                                <div class="col-sm-6 {% if forloop.counter|divisibleby:2 and not forloop.last %}mt--90 mt_md--0{% endif %} no-equal-item" data-sal="slide-up" data-sal-duration="800" data-sal-delay="{{ forloop.counter0|add:'100' }}">
                                    <div class="counterup-progress counterup-style-2 {% if forloop.first %}active{% endif %}">
                                        <div class="count-number h2">
                                            <span class="number count" data-count="{{ fact.fact_count }}">{{ fact.fact_count }}</span>
                                            <span class="symbol">+</span>
                                        </div>
                                        <h6 class="title">{{ fact.title }}</h6>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        <!--=====================================-->
        <!--=       Service  Area Start        =-->
        {% if services %}
        <!--=====================================-->
        <section class="section section-padding bg-color-light">
            <div class="container">
                <div class="section-heading heading-left mb--20 mb_md--70">
                    <span class="subtitle">What We Can Do For You</span>
                    <h2 class="title">Services we can <br> help you with</h2>
                </div>
                <div class="row">
                    {% for service in services %}
                        <div class="col-lg-4  mt_md--0" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100">
                            <div class="services-grid service-style-2">
                                <div class="thumbnail">
                                    {% if service.image %}
                                        <img src="{{service.image.url}}" alt="icon">
                                    {% endif %}
                                </div>
                                <div class="content">
                                    <h5 class="title">{{service.title}}</h5>
                                    {{service.description|safe}}
                                    <!-- Button trigger modal -->
                                    <a class="more-btn" data-bs-toggle="modal" data-bs-target="#serviceModal{{service.id}}">
                                        Show Details
                                    </a>

                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <ul class="shape-group-7 list-unstyled">
                <li class="shape shape-1"><img src="{% static 'front/assets/media/others/circle-2.png'  %}" alt="circle"></li>
                <li class="shape shape-2"><img src="{% static 'front/assets/media/others/bubble-2.png'  %}" alt="Line"></li>
                <li class="shape shape-3"><img src="{% static 'front/assets/media/others/bubble-1.png'  %}" alt="Line"></li>
            </ul>
        </section>
        {% endif %}
        <!--=====================================-->
        <!--=        Client Area Start       	=-->
        <!--=====================================-->
        {% if clients %}
        <section class="section section-padding bg-color-dark">
            <div class="container">
                <div class="section-heading heading-light-left">
                    <span class="subtitle">Top Clients</span>
                    <h2 class="title">We’ve built solutions for...</h2>
                </div>
                <div class="row">
                    {% for client in clients %}
                        <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500">
                            <div class="brand-grid active">
                                <a href="{{client.company_url}}">
                                    <img src="{{client.image.url}}" width="200" alt="{{client.company_name}}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <ul class="list-unstyled shape-group-10">
                <li class="shape shape-1"><img src="{% static 'front/assets/media/others/line-9.png'  %}" alt="Circle"></li>
            </ul>
        </section>
        {% endif %}

        <!-- Modal -->
        {% for service in services %}
        <div class="modal fade" id="serviceModal{{service.id}}" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        {% if service.image %}
                        <img src="{{ service.image.url }}" width="20" alt="">{% endif %} &nbsp;
                       <h1 class="modal-title fs-5" id="serviceModalLabel">{{ service.title }}</h1>
                        
                    </div>
                    <div class="modal-body">
                        {{ service.description|safe }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock content %}